<!-- Footer -->
<footer class="main-footer">
    <div class="footer-content">
        <div class="footer-logo-section">
            <div class="footer-logo">
                <img src="assets/Miraheze-Logo.svg" height="30" alt="Miraheze logo" />
                Miraheze
            </div>
            <p class="footer-copyright">
                © WikiTide Foundation, Inc. - a 501(c)(3) public charity.
            </p>
            <div class="social-links">
                <a class="social-btn" href="#" title="Mastodon">
                    <svg class="social-icon" viewBox="0 0 24 24">
                        <path
                            d="M23.268 5.313c-.35-2.578-2.617-4.61-5.304-5.004C17.51.242 15.792 0 11.813 0h-.03c-3.98 0-4.835.242-5.288.309C3.882.692 1.496 2.518.917 5.127.64 6.412.28 8.97.28 12.442v1.21c0 3.472.36 6.029.638 7.315.591 2.591 2.977 4.417 5.578 4.814.453.067 1.308.309 5.288.309h.03c3.98 0 5.696-.242 6.151-.309 2.687-.394 4.954-2.426 5.304-5.004.29-2.14.364-5.223.364-9.143v-1.21c0-3.92-.074-7.003-.364-9.143zM18.8 17.58c0 .546-.442.988-.988.988h-1.976a.988.988 0 01-.988-.988v-4.94c0-.546.442-.988.988-.988h1.976c.546 0 .988.442.988.988v4.94zm-5.928 0c0 .546-.442.988-.988.988H9.908a.988.988 0 01-.988-.988V7.702c0-.546.442-.988.988-.988h1.976c.546 0 .988.442.988.988v9.878zm-5.928 0c0 .546-.442.988-.988.988H3.98a.988.988 0 01-.988-.988v-4.94c0-.546.442-.988.988-.988h1.976c.546 0 .988.442.988.988v4.94z">
                        </path>
                    </svg>
                </a>
            </div>
        </div>
        <div class="footer-links">
            <a class="footer-link" href="https://meta.miraheze.org/wiki/Special:MyLanguage/Help_center">Help Center</a>
            <a class="footer-link" href="https://meta.miraheze.org/wiki/Special:MyLanguage/Privacy_Policy">Privacy
                Policy</a>
            <a class="footer-link" href="https://meta.miraheze.org/wiki/Special:MyLanguage/Terms_of_Use">Terms of
                Use</a>
            <a class="footer-link" href="https://meta.miraheze.org/wiki/Special:MyLanguage/Content_Policy">Content
                Policy</a>
        </div>

    </div>
</footer>