<!-- Footer -->
<footer class="main-footer">
    <div class="footer-content">
        <div class="footer-logo-section">
            <div class="footer-logo">
                <img src="assets/Miraheze-Logo.svg" height="30" alt="Miraheze logo" />
                Miraheze
            </div>
            <p class="footer-copyright">
                © WikiTide Foundation, Inc. - a 501(c)(3) public charity.
            </p>
            <div class="social-links">
                <a class="social-btn mastodon" href="https://mastodon.social/@miraheze" title="Mastodon">
                    <img src="assets/mastodon.svg" height="15" alt="" aria-hidden="true" class="social-icon" />
                </a>
                <a class="social-btn bluesky" href="https://bsky.app/profile/miraheze.org" title="Bluesky">
                    <img src="assets/bluesky.svg" height="15" alt="" aria-hidden="true" class="social-icon" />
                </a>
                <a class="social-btn facebook" href="https://facebook.com/Miraheze" title="Facebook">
                    <img src="assets/facebook.svg" height="15" alt="" aria-hidden="true" class="social-icon" />
                </a>
                <a class="social-btn twitter" href="https://twitter.com/miraheze" title="X (formerly Twitter)">
                    <img src="assets/x.svg" height="15" alt="" aria-hidden="true" class="social-icon" />
                </a>
                <a class="social-btn github" href="https://github.com/miraheze" title="GitHub">
                    <img src="assets/github.svg" height="15" alt="" aria-hidden="true" class="social-icon" />
                </a>
                <a class="social-btn discord" href="https://miraheze.org/discord" title="Discord">
                    <img src="assets/discord.svg" height="15" alt="" aria-hidden="true" class="social-icon" />
                </a>
            </div>
        </div>
        <div class="footer-links">
            <a class="footer-link" href="https://meta.miraheze.org/wiki/Special:MyLanguage/Help_center">Help Center</a>
            <a class="footer-link" href="https://meta.miraheze.org/wiki/Special:MyLanguage/Privacy_Policy">Privacy
                Policy</a>
            <a class="footer-link" href="https://meta.miraheze.org/wiki/Special:MyLanguage/Terms_of_Use">Terms of
                Use</a>
            <a class="footer-link" href="https://meta.miraheze.org/wiki/Special:MyLanguage/Content_Policy">Content
                Policy</a>
        </div>

    </div>
</footer>