<header class="main-header">
        <nav class="main-nav">
            <div class="logo">
                <img src="assets/Miraheze-Logo.svg" height="30" alt="Miraheze logo" />
                Miraheze
            </div>
            <div class="nav-links">
                <!-- <a class="nav-link active" href="#">Features</a> -->
                <a class="nav-link" href="#">Wikis</a>
                <a class="nav-link" href="#">Community</a>
                <a class="nav-link" href="#">Donate</a>
                <a class="nav-link" href="#">Support</a>
            </div>
            <div class="nav-actions">
                <a class="btn-login" href="https://meta.miraheze.org/wiki/Special:UserLogin" target="_blank"
                    rel="noopener noreferrer">Log in</a>
                <a class="btn-create" href="https://meta.miraheze.org/wiki/Special:RequestWiki" target="_blank"
                    rel="noopener noreferrer">Create Wiki</a>
            </div>
        </nav>
    </header>